# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.*.local

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/Medical/Aorta_Segmentation/data/raw/2008_cct32
/Medical/Aorta_Segmentation/src/__pycache__
Medical/Aorta_Segmentation/data/.DS_Store
/Medical/Aorta_Segmentation/src/data/__pycache__
/Medical/Aorta_Segmentation/src/models/__pycache__
/Medical/Aorta_Segmentation/src/postprocessing/__pycache__
/Medical/Aorta_Segmentation/src/preprocessing/__pycache__
Medical/Aorta_Segmentation/data/output/.DS_Store
Interview/.DS_Store
*.DS_Store
/Interview/Range/__pycache__
Interview/Range/assignment/raw_data/transfers.jsonl
Interview/Range/data/raw_data/transfers.jsonl
.DS_Store
# Environment variables
Climate/APIs/.env
/Finance/Cost_of_Living_Comparison/backend/venv
/Finance/Cost_of_Living_Comparison/frontend/node_modules
/Finance/Cost_of_Living_Comparison/backend/models/__pycache__
/Finance/Cost_of_Living_Comparison/backend/services/__pycache__
/Finance/SL_vs_Autonomo/backend/scenarios/__pycache__
/Finance/SL_vs_Autonomo/backend/tax_engine/__pycache__
/Finance/SL_vs_Autonomo/backend/__pycache__
/Finance/SL_vs_Autonomo/backend/api/__pycache__
