<html>
    <head>
        <title>QR Code App</title>
        <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <div class="container"><br>
        <center>
          <h2>QR Code -  Operation Selection</h2>
        </center>
      </div>
    <body>

        <form method="post" action="/">
                <br>													   
                <center>
                <input type="submit" value="Order Ready to Send" name="Order Ready to Send"/>
                <center>
                <br>	  
                </center>
                <input type="submit" value="In Manufacturing" name="In Manufacturing" />
                </center>
        </form>
    </body>
</html>
    