<html>
    <head>
        <title>QR Code App</title>
        <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <div class="container"><br>
        <center>
        <img src='static/files/bd_logo.pdf', alt = "BD Logo", style="vertical-align:middle;margin:10px 10px">
        <!-- <h3>QR Code -  Operation Selection</h3> -->
        </center>
      </div>
      <hr>
      <body>
        <center>
          <h4>1. Confirm Order Arrived</h4>
        </center>
        <form method="post" action="/">
                <br>													   
                <center>
                <input type="submit" value="Order Arrived" name="Order Arrived"/>
                <center>
        </form>
    </body>
    <br>
    <hr>
    <br>
    <body>
      <center>
        <h4>2. Confirm Order Assembled</h4>
      </center>
        <form method="post" action="/">
                </center>
                <br>
                <div class="form-group">
                  <label for="Loupes Serial Number">Loupes Serial Number:</label>
                  <input type="text" class="form-control" id="Loupes Serial Number" name="Loupes Serial Number" placeholder="">
                  <br>
                  <label for="Halo Serial Number">Halo Serial Number:</label>
                  <input type="text" class="form-control" id="Halo Serial Number" name="Halo Serial Number" placeholder="">
                  <br>
                  <label for="Ignis LED Serial Number">Ignis LED Serial Number:</label>
                  <input type="text" class="form-control" id="Ignis LED Serial Number" name="Ignis LED Serial Number" placeholder="">
                  <br>
                  <label for="Ignis Battery Serial Number">Ignis Battery Serial Number:</label>
                  <input type="text" class="form-control" id="Ignis Battery Serial Number" name="Ignis Battery Serial Number" placeholder="">
                  <br>
                  <label for="Ignis Charging Plate Serial Number">Ignis Charging Plate Serial Number:</label>
                  <input type="text" class="form-control" id="Ignis Charging Plate Serial Number" name="Ignis Charging Plate Serial Number" placeholder="">
                  <br>
                  <input type="submit" value="Order Assembled" name="Order Assembled" />
                  </center>
               
        </form>
    </body>
    <br>	  
    <br>	 
    
    
    
</html>
    