<html>
    <head>
        <title>QR Code App</title>
        <link rel="stylesheet" media="screen" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <div class="container"><br>
        <center>
        <h3> Raptor: Clinical Trial</h3>
        <img src='static/files/raptor_logo.pdf', alt = "Raptor Logo", style="vertical-align:middle;margin:10px 10px">
        </center>
      </div>
      <body>
        <center>
          <hr>
          <h5> Click to Start Experiment with label:</h5>
        </center>
        <form method="post" action="/">
                <center>
                <br>													   
                <input type="submit" value="Positive" name="Positive Label"/>
                <br>
                <br>
                <input type="submit" value="Negative" name="Negative Label" />
                <br>
                <br>
                <input type="submit" value="No Label" name="No Label" />
                <center>
        </form>
        <hr>
        <!-- <center>
          <div class="btn-group">
            <button id="slide_start_button" value="Start">Start</button>
            <button id="slide_stop_button" value="Stop">Stop</button>
         </div>
        </center> -->
    </body>

</html>
    