@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light;
  background-color: #f7f9fc;
  color: #0f172a;
}

body {
  margin: 0;
}
